# App
APP_NAME=MySQL API Connector
APP_VERSION=0.1.0
DEBUG=true

# Metadata Database (untuk menyimpan config connector, model, dan job)
DATABASE_SYNC_URL=mysql+pymysql://root:password@mysql_meta:3306/mac_meta
DATABASE_URL=mysql+aiomysql://root:password@mysql_meta:3306/mac_meta

# Redis
REDIS_URL=redis://redis:6379/0

# CORS
CORS_ORIGINS=["http://localhost:5173"]
